<!DOCTYPE html>
<html lang="en">
<head>
  <title>DID-Generate</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <script src="https://unpkg.com/web3@1.7.5/dist/web3.min.js"></script>
</head>
<body>
<div id="app" class="p-4 mx-auto">
  <div class="text-2xl">
    DID-GEN
  </div>
  <el-tabs v-model="activeName">
    <el-tab-pane label="DID GEN" name="panel-gen">
      <el-input v-model="genTxt">
      </el-input>
      <div class="mt-4">
        <el-input v-model="prefix"
                  placeholder="prefix"></el-input>
      </div>
      <div class="mt-4">
        <el-input v-model="suffix"
                  placeholder="suffix"></el-input>
      </div>
      <div class="mt-4">
        <el-radio-group v-model="isSort">
          <el-radio label="true">sort</el-radio>
          <el-radio label="false">unsort</el-radio>
        </el-radio-group>
      </div>
      <div class="w-full mt-4">
        <el-button class="w-full"
                   type="primary"
                   @click="doGen">
          GEN
        </el-button>
      </div>
      <div class="w-full mt-4 space-y-4">
        <el-input v-model="owner"
                  placeholder="Owner ETH adderss"></el-input>
        <el-input v-model="inviter"
                  placeholder="inviter .bit"></el-input>
        <el-input v-model="rYear"
                  placeholder="register years (it cannot exceed 20 years.)"></el-input>
        <el-button class="w-full"
                   type="primary"
                   @click="doGenWeb3DID">
          GEN Web3DID CSV
        </el-button>
      </div>
    </el-tab-pane>
    <el-tab-pane label="ETH Wallet" name="panel-wallet">
      <el-input-number style="width: 100%"
                       v-model="walletCount"
                       :min="1"
                       label="count of wallet"></el-input-number>
      <div class="mt-4">
        <el-button class="w-full"
                   type="primary"
                   @click="genWallet">
          Gen ETH Wallet
        </el-button>
      </div>
    </el-tab-pane>
  </el-tabs>
</div>
<script>
  new Vue({
    el: '#app',
    data () {
      return {
        activeName: 'panel-gen',
        isSort: 'false',
        prefix: '',
        suffix: '',
        genTxt: 'AABB',
        owner: '',
        inviter: '6529.bit',
        rYear: '1',
        web3Did: 'Account,Owner (ETH adderss / Tron address),inviter,register years (it cannot exceed 20 years.)',
        walletCount: 1
      }
    },
    methods: {
      genName (length, match) {
        const max = Math.pow(10, length)
        const nameList = []
        for (let i = 0; i < max; i++) {
          const name = String(i).padStart(length, '0')
          const isMatch = match.every((item) => {
            let res = true
            for (let i = 0; i < item.length - 1; i++) {
              res = res && (name[item[i]] === name[item[i + 1]])
            }
            return res
          })
          if (isMatch) {
            nameList.push(name)
          }
        }
        return nameList
      },
      genSortName (nameList, sortKeys, tmpMap) {
        const sortNameList = []
        for (const name of nameList) {
          let isMatch = true
          for (let i = 0; i < sortKeys.length - 1; i++) {
            for (let j = i + 1; j < sortKeys.length; j++) {
              const a = sortKeys[i].toLowerCase()
              const b = sortKeys[j].toLowerCase()
              const valueA = Number(name[tmpMap[sortKeys[i]][0]])
              const valueB = Number(name[tmpMap[sortKeys[j]][0]])
              if (a > b) {
                isMatch = isMatch && ((valueA - valueB) > 0)
              }
              if (a < b) {
                isMatch = isMatch && ((valueA - valueB) < 0)
              }
              if (a === b) {
                isMatch = isMatch && ((valueA - valueB) === 0)
              }
            }
          }
          if (isMatch) {
            sortNameList.push(name)
          }
        }
        return sortNameList
      },
      _downloadCsv (csv, name) {
        const downloadLink = document.createElement('a')
        const blob = new Blob(['\ufeff', csv])
        const url = URL.createObjectURL(blob)
        downloadLink.href = url
        downloadLink.download = name
        document.body.appendChild(downloadLink)
        downloadLink.click()
        document.body.removeChild(downloadLink)
      },
      _genNames () {
        const sortKeys = []
        const tmpMap = this.genTxt.split('').reduce((res, item, index) => {
          if (!res[item]) {
            res[item] = []
          }
          if (!sortKeys.includes(item)) {
            sortKeys.push(item)
          }
          res[item].push(index)
          return res
        }, {})
        const match = Object.values(tmpMap)
        let nameList = this.genName(this.genTxt.length, match)
        if (this.isSort === 'true') {
          nameList = this.genSortName(nameList, sortKeys, tmpMap)
        }
        nameList = nameList.map(item => this.prefix + item + this.suffix)
        return nameList
      },
      _csvFileName (typeName = '') {
        const fileName = [this.prefix, this.genTxt, this.suffix].filter(item => !!item).join('-')
        const isSort = this.isSort === 'false' ? 'unsort' : 'sort'
        return typeName ? `${fileName}-${isSort}-${typeName}.csv` : `${fileName}-${isSort}.csv`
      },
      doGen () {
        const nameList = this._genNames()
        const csv = nameList.join('\n')
        this._downloadCsv(csv, this._csvFileName())
      },
      doGenWeb3DID () {
        const nameList = this._genNames()
        const nameRow = nameList.map(item => {
          return [item, this.owner, this.inviter, this.rYear].join(',')
        })
        nameRow.unshift(this.web3Did)
        const csv = nameRow.join('\n')
        this._downloadCsv(csv, this._csvFileName('web3did'))
      },
      genWallet () {
        const web3 = new Web3()
        const walletList = ['address,privateKey']
        for (let i = 0; i < this.walletCount; i++) {
          const account = web3.eth.accounts.create()
          const {
            address,
            privateKey
          } = account
          walletList.push([address, privateKey].join(','))
        }
        this._downloadCsv(walletList.join('\n'), `ETH-Wallet-${this.walletCount}.csv`)
      }
    }
  })
</script>
</body>
</html>
